<%- include('header'); -%>

<h1>This is the about page</h1>

<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae beatae est quibusdam eius autem, adipisci rerum eveniet reiciendis amet quam eligendi ad asperiores aperiam vel voluptatum? Ea quos non recusandae!</p>

<%- include('footer'); -%>